<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
    #myCanvas {
        border: 1px solid black;
    }

</style>

<canvas id='myCanvas' width="1500" height="1000" tabindex="1">
</canvas>


</body>
<script src="/socket.io/socket.io.js"></script>
<script>

    var socket = io.connect('http://localhost:3000');
  console.log(socket);

    var canvas = document.getElementById('myCanvas');
    canvas.addEventListener('keydown', dokeyDown, true);


    canvas_context = canvas.getContext('2d');

    var pro = false;
    var clearUp = false;
    var clearDown = false;
    var clearRight = false;
    var clearLeft = false;

    function dokeyDown(e) {

        if (e.keyCode == 38) {
           console.log(socket.id);
            clearUp = false;
            clearDown = true;
            clearLeft = true;
            clearRight = true;
            clearInterval(timerUp);
            var timerUp = setInterval(function(){


                console.log('up'+'up');

                if(clearUp == true){
                    clearInterval(timerUp);
                }
                socket.emit('move', {'socketId': socket.id, 'direction': 'up'});
            },10);

        }
      else  if (e.keyCode == 40) {
            clearDown = false;
             clearRight = true;
             clearLeft = true;
            clearUp = true;
            clearInterval(timerDown);
            var timerDown = setInterval(function(){

             //   console.log('down');
                console.log('down'+'down');

                if(clearDown == true){
                    clearInterval(timerDown);
                }
                socket.emit('move', {'socketId': socket.id, 'direction': 'down'});
            },10);
        }
      else  if (e.keyCode == 37) {
            console.log('left');
            clearLeft = false;
            clearRight = true;
            clearDown = true;
            clearUp = true;

            clearInterval(timerLeft);
            var timerLeft = setInterval(
                    function(){

                        console.log('left'+'left');

                        if(clearLeft == true){

                            clearInterval(timerLeft);
                        }

                        socket.emit('move', {'socketId': socket.id, 'direction': 'left'});
                    },10
            );

        }
      else  if (e.keyCode == 39) {
            clearRight = false;
            clearLeft= true;//
            clearDown = true;
            clearUp = true;

            clearInterval(timerRight);
            var timerRight = setInterval(
                    function(){

                    //    console.log('right');
                        console.log('right'+'right');

                        if(clearRight == true){
                            clearInterval(timerRight);
                        }
                        socket.emit('move', {'socketId': socket.id, 'direction': 'right'});
                    },10
            );

        }
    }

//
    socket.on('move', function (data) {
        console.log(data);
        clearCanvas();
        var radius = 25;
        for (var i = 0; i < data.length; i++) {
            if(i>0){
                radius+=10;
            }
            canvas_context.beginPath();
            console.log(data[i].x);
            canvas_context.arc(data[i].x, data[i].y, radius,0, Math.PI * 2, true);
            canvas_context.fillStyle = 'black';
            canvas_context.closePath();
            canvas_context.fill();

          /*  socket.on('last',function(){
               // alert('game over');
            });*///?
            console.log(data[i].y);//400

            if(data[i].x<=10||data[i].x>=1490||data[i].y>=920||data[i].y<=10){
                clearDown = true;
                clearLeft = true;
                clearRight = true;
                clearUp = true;
                console.log(clearDown);
                //   //  console.log(clearUp)
               alert('over over');

            }




            if(data[i+1]){

                if( Math.sqrt((data[i].x - data[i+1].x)*(data[i].x - data[i+1].x) + (data[i].y - data[i+1].y)*(data[i].y - data[i+1].y))<=45){

                    clearDown = true;
                    clearLeft = true;
                    clearRight = true;
                    clearUp = true;

                    console.log(clearUp);
                    console.log(clearDown);
                    console.log(clearLeft);
                    console.log(clearUp);

                    console.log('equality');
                    socket.emit('over');

                    alert('game over');

                    /*socket.on('last',function(msg){
                        clearDown = true;
                        clearLeft = true;
                        clearRight = true;
                        clearUp = true;

                        //  console.log('game over');

                        // //  alert(msg);
                        alert('game over');

                    });*/
                    socket.emit('disconnect','dis');

                }

            }


        }


    });

/*
    var dataR = canvas_context.getImageData(0, 0,canvas.width, canvas.height);
    imageData = dataR.data;

    function getStartIndex(x, y) {
        return y * canvas.width * 4 + x * 4;
    }

    // 中点画圆法
    function circle(x, y, r, color) {
        var tx = 0, ty = r, d = 1 - r;

        while(tx <= ty){
            // 利用圆的八分对称性画点
            putpixel(x + tx, y + ty, color);
            putpixel(x + tx, y - ty, color);
            putpixel(x - tx, y + ty, color);
            putpixel(x - tx, y - ty, color);
            putpixel(x + ty, y + tx, color);
            putpixel(x + ty, y - tx, color);
            putpixel(x - ty, y + tx, color);
            putpixel(x - ty, y - tx, color);
            if(d < 0){
                d += 2 * tx + 3;
            }else{
                d += 2 * (tx - ty) + 5;
                ty--;
            }
            tx++;
        }
    }

    function putpixel(x, y, color){
        var index = getStartIndex(x, y);
        for(var i = 0; i< 4; i++) {
            if(i == 3) {
                imageData[index + i] = 255;
            }
            else{
                // var co = parseInt(Math.random() * 255)
                imageData[index + i] = color;
            }
        }
    }


    socket.on('move', function (data) {
        console.log(data);
        clearCanvas();
        var radius = 25;
        for (var i = 0; i < data.length; i++) {
            if(i>0){
                radius+=10;
            }

            circle(data[i].x, data[i].y, radius, 20);
            canvas_context.putImageData(dataR, 0, 0);

            socket.on('last',function(){
                alert('game over');
            });
            if(data[i+1]){
                if(data[i].x == data[i+1].x){
                    console.log('equality');
                    socket.emit('over');
                    socket.on('last',function(msg){
                        //  alert(msg);
                        alert('game over');
                    });

                }
            }


        }


    });
*/




    function emitFn(dir,timerDir,clearDir){
/*
        clearRight = false;
        clearLeft= true;//
        clearDown = true;
        clearUp = true;
        clearInterval(timerRight);
        var timerRight = setInterval(
                function(){

                    //    console.log('right');

                    if(clearRight == true){
                        clearInterval(timerRight);
                    }
                    socket.emit('move', {'socketId': socket.id, 'direction': 'right'});
                },10
        );*/


        timerDir = setInterval(function(){
            if(clearDir == true){

                clearInterval(timerDir);
            }
            socket.emit('move',{'socketId':socket.id,'direction':dir});//
        },10);


    }

    function equality(c1,c2){
        if(c1){}
    }
    function clearCanvas() {
        canvas.width = canvas.width;
    }
</script>
</html>