<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
    #myCanvas {
        border: 1px solid black;
    }

article{
    position:absolute;
    top: 5%;
    right: 2%;
    border: 1px solid black;
}

</style>

<canvas id='myCanvas' width="1500" height="1000" tabindex="1">
</canvas>

<article>
    <section>
        大球追到小球则获胜
    </section>
</article>

</body>
<script src="/socket.io/socket.io.js"></script>
<script>

    var socket = io.connect('http://localhost:3000');
  console.log(socket);

    var canvas = document.getElementById('myCanvas');
    canvas.addEventListener('keydown', dokeyDown, true);


    canvas_context = canvas.getContext('2d');

    var pro = false;
    var clearUp = false;
    var clearDown = false;
    var clearRight = false;
    var clearLeft = false;
    var timerUp;
    var timerDown;
    var timerLeft;
    var timerRight;

    function dokeyDown(e) {


        if (e.keyCode == 38) {
           console.log(socket.id);
            clearUp = false;
            clearDown = true;
            clearLeft = true;
            clearRight = true;

            clearInterval(timerUp);
            timerUp = setInterval(function(){


                console.log('up'+'up');

                if(clearUp == true){
                    clearInterval(timerUp);
                }
                socket.emit('move', {'socketId': socket.id, 'direction': 'up'});
            },10);


        }
      else  if (e.keyCode == 40) {
            clearDown = false;
             clearRight = true;
             clearLeft = true;
            clearUp = true;
            clearInterval(timerDown);
            timerDown = setInterval(function(){

             //   console.log('down');
                console.log('down'+'down');

                if(clearDown == true){
                    clearInterval(timerDown);
                }
                socket.emit('move', {'socketId': socket.id, 'direction': 'down'});
            },10);
        }
      else  if (e.keyCode == 37) {
            console.log('left');
            clearLeft = false;
            clearRight = true;
            clearDown = true;
            clearUp = true;

            clearInterval(timerLeft);
            timerLeft = setInterval(
                    function(){

                        console.log('left'+'left');

                        if(clearLeft == true){

                            clearInterval(timerLeft);
                        }

                        socket.emit('move', {'socketId': socket.id, 'direction': 'left'});
                    },10
            );

        }
      else  if (e.keyCode == 39) {
            clearRight = false;
            clearLeft= true;
            clearDown = true;
            clearUp = true;

            clearInterval(timerRight);
            timerRight = setInterval(
                    function(){

                    //    console.log('right');
                        console.log('right'+'right');

                        if(clearRight == true){
                            clearInterval(timerRight);
                        }
                        socket.emit('move', {'socketId': socket.id, 'direction': 'right'});
                    },10
            );

        }
    }

//
    socket.on('move', function (data) {
        console.log(data);
        clearCanvas();
        var radius = 25;
        for (var i = 0; i < data.length; i++) {
            if(i>0){
                radius+=10;
            }
            canvas_context.beginPath();
            console.log(data[i].x);
            canvas_context.arc(data[i].x, data[i].y, radius,0, Math.PI * 2, true);
            canvas_context.fillStyle = 'black';
            canvas_context.closePath();
            canvas_context.fill();
            console.log(data[i].y);//400

            if(data[i].x<=10||data[i].x>=1490||data[i].y>=990||data[i].y<=10){
                clearInterval(timerUp);
                clearInterval(timerDown);
                clearInterval(timerLeft);
                clearInterval(timerRight);
               alert('game over'+'3秒后将会关闭该窗口');
                var timerClose = setTimeout(function(){
                    console.log('5sofff');
                    window.close();
                },2000);

            }

            if(data[i+1]){

                if( Math.sqrt((data[i].x - data[i+1].x)*(data[i].x - data[i+1].x) + (data[i].y - data[i+1].y)*(data[i].y - data[i+1].y))<=35){
                    clearInterval(timerUp);
                    clearInterval(timerDown);
                    clearInterval(timerLeft);
                    clearInterval(timerRight);


                    console.log('equality');
                    socket.emit('over');

                    alert('game over');

                    socket.emit('disconnect','dis');

                }

            }


        }


    });
    socket.on('offline',function(da){
        console.log(da);
        alert('您的好友已下线，3秒后将会关闭该窗口');
        var timerClose = setTimeout(function(){
            console.log('5sofff');
            window.close();
        },2000);

    });
    socket.on('wait',function(){
        alert('当前房间人数较多，请等待...'+',3秒后将会关闭该窗口');
        var timerClose = setTimeout(function(){
            console.log('5sofff');
            window.close();
        },2000);

    })
/*

   socket.on('failure',function(msg){


       console.log('titititititititititititiit');
       clearInterval(timerUp);
       clearInterval(timerDown);
       clearInterval(timerLeft);
       clearInterval(timerRight);

       alert(msg+'已输'+'3秒后将会关闭该窗口');

       console.log(msg);

   });
*/


;



    function emitFn(dir,timerDir,clearDir){



        timerDir = setInterval(function(){
            if(clearDir == true){

                clearInterval(timerDir);
            }
            socket.emit('move',{'socketId':socket.id,'direction':dir});//
        },10);


    }

    function equality(c1,c2){
        if(c1){}
    }
    function clearCanvas() {
        canvas.width = canvas.width;
    }
</script>
</html>